.distance {
	padding-bottom: 50px;
}

.jumbroton {
	padding-top: 5rem;
}

#projects{
	background-color: #ffd700;
}
.mb {
	margin-top: 15px;
}
.link{
	text-decoration: none;
}
section	{
	padding-top: 5rem;
}